body {
  margin: 0;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  display: block;
}
.hidden {
  display: none;
}
#welcome-message {
  position: absolute;
  color: green;
  font-family: Arial, sans-serif;
  text-align: center;
}
.smiley {
  font-size: 100px;
}
